<header class="flex header-content">
  <div class="hdr-lft flex">
      <img src="assets/img/download.jpg">
      <h4 style="text-transform: uppercase;">Welcome : Amit Kumar</h4>
  </div>
  <div class="flex alert-profile">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="assets/img/download.jpg">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="javascript:void(0)">View Profile </a></li>
        <li><a class="dropdown-item" href="javascript:void(0)">change password</a></li>
        <li><a class="dropdown-item" href="javascript:void(0)">Logout</a></li>
      </ul>
    </div>
  </div>
</header>
