<div class="login-wrapper flex">

  <div class="login-header flex">

      <div class="logo"> <img src="assets/img/download.jpg"> </div>

      <h3>Krishna Book Seller</h3>

  </div>

  <div class="login-content flex">

      <div class="login-box">
          <form>
              <div class="lb-top flex">
                  <h3>Log in</h3>
              </div>

              <div class="form-input">
                  <input type="text" placeholder="User Name" >
              </div>

              <div class="form-input">
                  <input type="password" placeholder="Password">
              </div>

              <button type="submit" class="ripple log-btn">Log in </button>
              <!-- <div class="fgt-btn flex">
                    <a href="javascript:void(0)" class="ripple"> Recover password </a>
                </div> -->
          </form>
      </div>

  </div>

  <div class="footer flex">
    Copyright © 2022 Krishna Book seller. All Rights Reserve.
  </div>

</div>

