<header class="main-header flex">
  <div class="hdr-left flex">
    <div class="brand-section flex" routerLink="/dashboard">
      <div class="logo-wrapper">
        <img src="assets/img/logo.jpeg" alt="Logo">
      </div>
      <span class="brand-name">Krishna Book Seller</span>
    </div>
  </div>

  <div class="hdr-right flex">
    <div class="user-info-v2 hidden-mobile">
      <div class="greeting-box text-end">
        <span class="label">Welcome</span>
        <h4 class="user-display-name">
          {{ (userDetails?.first_name || '') + ' ' + (userDetails?.last_name || '') }}
        </h4>
      </div>
    </div>

    <div class="dropdown profile-dropdown">
      <button class="profile-trigger flex" type="button" id="profileMenu" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="avatar-container">
          <img src="assets/img/user.jpg" alt="User">
          <span class="online-indicator"></span>
        </div>
        <i class="pi pi-chevron-down toggle-icon"></i>
      </button>

      <ul class="dropdown-menu dropdown-menu-end modern-dropdown-menu" aria-labelledby="profileMenu">
        <li class="dropdown-header">Account Settings</li>
        <li>
          <a class="dropdown-item" routerLink="/user/profile">
            <i class="pi pi-user"></i> <span>View Profile</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/import-export">
            <i class="pi pi-file-excel"></i> <span>Import Export</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" (click)="changePassword()">
            <i class="pi pi-key"></i> <span>Change Password</span>
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <li>
          <a class="dropdown-item logout-link" (click)="logout()">
            <i class="pi pi-power-off"></i> <span>Sign Out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
