<header class="flex header-content">
  <div class="hdr-lft flex">
    <span class="left-containt flex">
      <img routerLink="/dashboard" src="assets/img/logo.jpeg">
      <p routerLink="/dashboard">Krishna Book Seller</p>
    </span>
      <h4 style="text-transform: uppercase;">{{(userDetails?.first_name ? userDetails.first_name : '') + ' '+(userDetails?.last_name ? userDetails.last_name : '')}}</h4>
  </div>
  <div class="flex alert-profile">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="assets/img/user.jpg">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="javascript:void(0)" routerLink="/user/profile"><i class="pi pi-user"></i>View Profile </a></li>
        <ng-container *ngIf="userDetails && userDetails.user_type && userDetails.user_type !== 'accountant'">
          <li><a class="dropdown-item" href="javascript:void(0)" routerLink="/import-export"><i class="pi pi-file-excel"></i>Import Export</a></li>
        </ng-container>
        <li><a class="dropdown-item" href="javascript:void(0)" (click)="changepassword()"><i class="pi pi-key"></i>Change Password</a></li>
        <li (click)="logout()"><a class="dropdown-item" href="javascript:void(0)"><i class="pi pi-power-off"></i>Logout</a></li>
      </ul>
    </div>
  </div>
</header>
