.lds-ring {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    margin-top: 7px;
}

.theme-ld div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 6px;
    border: 3px solid white;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 1, 0.5, 1) infinite;
    border-color: white transparent transparent transparent;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 6px;
    //border: 3px solid rgba(223, 71, 57, .93);
    border: 3px solid white;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 1, 0.5, 1) infinite;
    //border-color: rgba(223, 71, 57, .93) transparent transparent transparent;
    border-color: white transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
