<div class="content-wrapper">
  <div class="content-heading">
    <div class="content-details flex">
      <!-- <h4>Krishna Book Seller</h4> -->
      <!-- <p>House ofhemlata verma,pitamber babu lane, behind lic building Ramna,Muzaffarpur-842002</p> -->
      <h5>{{invoiceId ? 'Update' : 'Generate'}}  Invoice</h5>
    </div>
    <form [formGroup]="invoiceForm">
    <div class="content-field flex">
      <!-- <form [formGroup]="invoiceForm"> -->
      <div class="input-field">
        <label>Name</label>
        <input type="text" formControlName="name" style="text-transform: uppercase">
        <div *ngIf="(invoiceForm.controls['name'].hasError('required') && invoiceForm.controls['name'].touched)" class="error-data position-error">Name is required</div>
      </div>
      <div class="input-field">
        <label>Bill No</label>
        <input type="text" formControlName="billno">
      </div>
      <div class="input-field">
        <label>Father's Name</label>
        <input type="text" formControlName="fathername" style="text-transform: uppercase">
        <div *ngIf="(invoiceForm.controls['fathername'].hasError('required') && invoiceForm.controls['fathername'].touched)" class="error-data position-error">Father Name is required</div>
      </div>
      <div class="input-field">
        <label>Mob. No</label>
        <input type="text" appOnlyNumber numericType="number" formControlName="mobno">
        <!-- <div *ngIf="(invoiceForm.controls['mobno'].hasError('required') && invoiceForm.controls['mobno'].touched)" class="error-data position-error">Mobile No is required</div> -->
      </div>
      <div class="input-field">
        <label>Class</label>
        <select class="search select-drop" id="mysel" formControlName="classno" (change)="onChangeClass($event.target)">
          <ng-container *ngFor="let class of classList">
            <option [value]="class.name">{{class.value}}</option>
          </ng-container>
      </select>
      <div *ngIf="(invoiceForm.controls['classno'].hasError('required') && invoiceForm.controls['classno'].touched)" class="error-data position-error">Class is required</div>
      </div>
      <div class="input-field">
        <label for="To">Date</label>
          <p-calendar inputId="To" [(ngModel)]="billingDate" [showIcon]="false" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" formControlName="date"></p-calendar>
          <!-- <div *ngIf="(invoiceForm.controls['date'].hasError('required') && invoiceForm.controls['date'].touched)" class="error-data position-error">Date is required</div> -->
      </div>
      <div class="input-field flex">
        <label>Address</label>
        <input type="text" formControlName="address" style="text-transform: uppercase">
        <!-- <textarea formControlName="address" style="overflow:auto;resize:none;height: 50px;"></textarea> -->
        <!-- <div *ngIf="(invoiceForm.controls['address'].hasError('required') && invoiceForm.controls['address'].touched)" class="error-data position-error">Addess is required</div> -->
      </div>
    <!-- </form> -->
    </div>
  </form>
  </div>
  <div class="select-type flex" *ngIf="!classId">
    <img src="assets/img/document.svg"/>
    <p class="msg-type">please select class</p>
  </div>
  <div class="intial-loader" *ngIf="intialPageLoader && classId">
    <app-loader></app-loader>
  </div>
  <div class="error-msg flex">
    <p class="error-data">{{errorMessage}}</p>
  </div>
  <ng-container *ngIf="classId && bookList.length > 0">
  <div class="report-print flex" *ngIf="classId && showPrint">
  <!-- <div class="report-print flex"> -->
    <!-- <button class="btn-reset button" type="button" (click)="generatePdf()">Reset</button> -->
    <button class="btn-search button" type="button" (click)="printInvoice('print')">Print</button>
  </div>
  <div class="table-responsive inv-adm-tbl">
    <table class="table">
        <thead>
        <tr>
            <th class="inv-check"></th>
            <th class="inv-particular text-center">Particulars</th>
            <th class="inv-rate text-center">Rate</th>
            <th class="inv-qty text-center">Qty</th>
            <th class="inv-amt text-center">Amount (&#x20B9;)</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngIf="bookList.length === 0">
            <td height="250" colspan="5" style="text-align: center; vertical-align: middle; background: white">
                <p style="margin-top: 20px;">No Data found</p>
            </td>
        </tr>
          <ng-container *ngFor="let invoicelist of bookList">
            <ng-container *ngIf="invoicelist.quantity !== 0">
            <tr>
                <td>
                  <input id="{{invoicelist.id}}"  [checked]="selectedBookIds.indexOf(invoicelist.id) > -1"  class="checkbox-custom" type="checkbox" (change)="onSelectBook($event, invoicelist)">
                  <label for="{{invoicelist.id}}" class="checkbox-custom-label"></label>
                </td>
                <td>{{invoicelist.name}}</td>
                <td class="text-center"><input type="text" disabled [(ngModel)]="invoicelist.mrp" appOnlyNumber numericType="decimal"></td>
                <td class="text-center"><input type="text" appOnlyNumber numericType="number" [(ngModel)]="invoicelist.quantity"></td>
                <td class="text-center"><input type="text" disabled  [value]="calculatedAmount(invoicelist.mrp, invoicelist.quantity, invoicelist)" [(ngModel)]="invoicelist.amount" appOnlyNumber numericType="decimal"></td>
            </tr>
           </ng-container>
          </ng-container>
        </tbody>
    </table>
    <div class="content-btn-details flex">
      <div class="content-btn flex">
        <button class="btn-save button" type="button" (click)="onSaveConfirmation()">{{invoiceId ? 'Update' : 'Save'}}
          <span [hidden]="!submitLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <button class="btn-cancel button" type="button" (click)="cancel()">Cancel</button>
      </div>
      <div class="total-amt flex">
        <p>Total Amount (&#x20B9;)</p>
        <input class="total-amt" type="text" disabled [(ngModel)]="totalInvoiceAmount">
      </div>
    </div>
  </div>
</ng-container>
</div>
