<div class="content-wrapper">
  <div class="content-heading">
    <div class="content-details flex">
      <h5>View Profile</h5>
    </div>
    <div class="content-div">
      <div class="content-item flex">
        <label>First Name</label>
        <span>{{this.userInfo.first_name}}</span>
      </div>
      <div class="content-item flex">
        <label>Last Name</label>
        <span>{{this.userInfo.last_name}}</span>
      </div>
      <div class="content-item flex">
        <label>User Name</label>
        <span>{{this.userInfo.username}}</span>
      </div>
      <div class="content-item flex">
        <label>User Type</label>
        <span>{{getuserType(this.userInfo.user_type)}}</span>
      </div>
    </div>
  </div>
</div>

