.content-wrapper {
  padding: 8px 19px;
  .content-heading {
    .content-details {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h5 {
        padding: 10px;
      }
    }
    .content-field  {
      margin-top: 15px;
      width: 100%;
      align-items: center;
      .input-field {
        width: 49%;
        padding: 5px;
        label {
          width: 25%;
          color: gray;
        }
        input {
          width: 65%;
          height: 40px;
          border: solid 1px #e8e8e8;
          padding: 0 13px;
          font-style: normal;
          &:disabled {
            background: #ffffff;
            opacity: 0.8;
          }
        }
        textarea {
          width: 65%;
          height: 75px;
          border: solid 1px #e8e8e8;
          padding: 0 13px;
          font-style: normal;
        }
      }
      .content-btn {
        // width: 100%;
        padding: 20px 0px;
        align-items: center;
        justify-content: center;
        .button {
          border: none;
          width: 100px;
          background-color: black;
          padding-left: 15px;
          color: white;
          text-align: center;
          padding: 8px;
          margin: 0px 30px;
          margin-right: 0;
          &.btn-save {
            background-color: #007bff;
          }
          &.btn-cancel {
            background-color: #6c757d;
          }
          &.btn-delete {
            background-color: #e24c4c;
          }
          &.btn-update {
            background-color: #0dcaf0;
          }
          &.btn-print {
            background-color: #2563eb;
          }
       }
      }
    }
    .table-responsive {
      padding: 20px 0 ;
      .p-button.p-button-icon-only {
        width: 2rem;
        padding: 0.5rem 0;
      }
      ::ng-deep .p-datatable.p-datatable-customers {
        .p-datatable-header {
            padding: 1rem;
            text-align: left;
            font-size: 1.5rem;
        }

        .p-paginator {
            padding: 1rem;
            align-items: flex-end;
            justify-content: flex-end;
        }

        .p-datatable-thead > tr > th {
          padding: 12px 12px;
        }

        .p-datatable-tbody > tr > td {
          padding: 6px 0px 5px 15px !important;
        }
        .p-button.p-button-icon-only {
          width: 2rem;
          padding: 0.5rem 0;
        }
        .p-button:enabled:hover {
          background: none;
          color: black;
          border-color: black;
          outline: none !important;
      }
      .p-button {
        color: black;
        background: none;
        border: none;
        outline: none !important;
    }
        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }
    }
    }
  }
}
.position-error {
  padding-left: 25%;
}
