<div class="content-wrapper">
  <div class="content-heading">
    <div class="content-details flex">
      <!-- <h4>Krishna Book Seller</h4> -->
      <!-- <p>House ofhemlata verma,pitamber babu lane, behind lic building Ramna,Muzaffarpur-842002</p> -->
      <h5>Update Publication</h5>
    </div>
    <form [formGroup]="publicationUpdateForm">
    <div class="content-field flex">
      <div class="input-field">
        <label>Publication Name</label>
        <input type="text" formControlName="publicationName">
        <div *ngIf="(publicationUpdateForm.controls['publicationName'].hasError('required') && publicationUpdateForm.controls['publicationName'].touched)" class="error-data position-error">Publication Name is required</div>
      </div>
      <div class="content-btn flex">
        <button class="btn-save button" type="button" (click)="onSaveConfirmation()">update
          <span [hidden]="!submitLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <button class="btn-cancel button" type="button" (click)="cancel()">Cancel</button>
    </div>
    </div>
    <div class="table-responsive">
      <p-table [value]="publicationDetails.Books" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
       [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-customers">

              <ng-template pTemplate="header">
                  <tr>
                      <th pSortableColumn="name">Book Name <p-sortIcon field="name"></p-sortIcon></th>
                      <th pSortableColumn="class">Class<p-sortIcon field="class"></p-sortIcon></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                  <tr class="p-selectable-row">
                      <td style="width: 50%;">
                          <span class="p-column-title">Book_Name</span>
                           {{customer.name}}
                      </td>
                      <td style="width: 50%;">
                          <span class="p-column-title">class</span>
                          <span class="image-text">{{getClassNo(classList, customer.class)}}</span>
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                  <tr>
                      <td colspan="8" style="text-align:center;">No List found.</td>
                  </tr>
              </ng-template>
          </p-table>
    </div>
  </form>
  </div>
</div>



