<div class="content-wrapper">
  <div class="content-heading">
    <div class="content-details flex">
      <!-- <h4>Krishna Book Seller</h4> -->
      <!-- <p>Mithanpura, Muzaffarpur-842002</p> -->
      <h5>Update Publication</h5>
    </div>
  <div class="table-responsive">
    <p-table [value]="publicationList" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
     [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-customers">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">S No<p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="name">Publication Name<p-sortIcon field="name"></p-sortIcon></th>
                    <th style="width: 8rem">Action</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                <tr class="p-selectable-row">
                    <td style="width: 40%">
                        <span class="p-column-title">S_No</span>
                         {{rowIndex + 1}}
                    </td>
                    <td style="width: 40%">
                        <span class="p-column-title">Publication_Name</span>
                        <span class="image-text">{{customer.name}}</span>
                    </td>
                    <td style="width: 8rem">
                      <button pButton type="button" class="secondary" icon="pi pi-pencil" (click)="updatePublication(customer)"></button>
                      <!-- <button pButton type="button" class="danger" icon="pi pi-trash" (click)="openConfirmationDialog(customer.id)"></button> -->
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" style="text-align:center;">No List found.</td>
                </tr>
            </ng-template>
        </p-table>
  </div>
</div>



