/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: #ecf0f6;
}

a:hover,
a:focus {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
input, select, div, button {
  border-radius: 10px !important;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: 0px !important;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  width: auto;
  max-width: 100%;
}
.header-content {
  color: #222b45;
  box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
  height: 5rem;
  padding: 1.25rem;
  background: white;
  justify-content: space-between;
  // padding: 15px;
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
  .hdr-lft {
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 70px);
    .left-containt {
      align-items: center;
      img {
        width: 50px;
        border-radius: 50%;
        height: 50px;
        margin-top: -2px
      }
      p {
        font-weight: bold;
        font-size: 30px;
        color: #5b6064;
        // font-family: serif;
        margin-left: 15px;
      }
    }

    h4 {
      padding-left: 30px;
      font-size: 17px;
    }
  }
  .alert-profile {
    width: 70px;
    justify-content: end;
    .dropdown {
      button {
          background: transparent;
          outline: none !important;
          border: none;
          padding: 0;
          img {
            width: 45px;
            border-radius: 50%;
            height: 45px;
          }
      }
      .dropdown-toggle::after {
        display: none !important;
      }
      .dropdown-menu {
          width: 200px;
          border-radius: 2px;
          box-shadow: 0 8px 17px 0 rgba(19, 18, 18, 0.09);
          background: white;
          padding: 8px 3px;
          top: 50px;
          p {
              font-size: 13px;
              font-weight: normal;
              color: #46489e;
              margin-bottom: 20px;
          }
          i {
            color: black;
            padding-right: 10px;
            font-size: 13px;
          }
          a {
              font-size: 13px;
              font-weight: normal;
              color: black;
              // color: #919191;
              width: 100%;
              margin: 0 0 5px;
              display: block;
          }
      }
    }
  }
}
.sidebar-menu {
  width: 200px !important;
  background-color: rgba(0, 0, 0, 0.16) !important;
  box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);

  // fixed side bar adding below style
    max-height: 100vh;
    overflow-y: auto;
    position: fixed;
    width: 150px;
    top: 4.2rem;
    bottom: 0;
    margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  // background-color: #f2f2f226;
  background-color: #ecf0f6;
  // min-height: calc(100vh - 115px);
  width: calc(100% - 200px);
  // fixed side bar adding margin left
   margin-left: 200px;
}
.p-menuitem-link-active {
  background: #e9ecef !important;
}
.table-responsive {
  overflow-y: visible !important;
  overflow-x: visible;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ecf0f640;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ecf0f640;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ecf0f640;
}
.error-data {
  color: red;
}
.select-type {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  background: white;
  .msg-type {
    font-weight: 500;
    padding-top: 10px;
  }
}
.intial-loader{
  position:absolute;
  top: 60%;
  left: 50%;
}
.confirm-dialogue .modal-dialog {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;

  button.close:focus, button.close {
    border: none;
    outline: none;
    box-shadow: none;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
}
.app-menu {
  padding: 1rem 0 !important;
  .list-unstyled {
    .mb-1 {
      .btn-toggle {
        border: none !important;
        box-shadow: none !important;
        padding: 0 1rem !important;
        // border-bottom: 1px solid #6c757d !important;
        // width: 100% !important;
        // border-radius: 0px !important;
        &:focus {
          background-color: inherit;
        }
        &:hover {
          background-color: inherit;
        }
      }
      .collapse {
        ul {
          li {
            a {
              width: 100%;
              margin-left: 0 !important;
              // padding: 5px;
              padding: 0.3rem 1rem !important;
              cursor: pointer;
              display: flex;
              align-items: center;
              .rounded {
                border-radius: none !important;
              }
              .nav-image {
                color: #6c757d;
                margin-right: 0.5rem;
                line-height: 1
              }
              .nav-text {
                color: #495057;
              }
              &:focus {
                background-color: #e9ecef !important;
              }
              &:hover {
                background-color: #e9ecef !important;
              }
            }
          }
        }
      }
    }
  }
}
.active {
  background-color: #e9ecef !important;
}
.content-details {
  h5 {
    font-weight: bold;
    color: #6c757d;
  }
}
.content-details {
  background: #e3e7e9 !important;
    margin-bottom: 2% !important;
  h5 {
    color: #383737 !important
  }
}
