<div class="content-wrapper">
  <div class="content-heading">
    <div class="content-details flex">
      <h5>Search Invoice</h5>
    </div>
    <div class="search-content flex">
      <div class="search-Bill">
        <div class="search-bill-type flex">
          <p class="search-by">Search By</p>
        </div>
        <div class="search-details flex">
          <div class="search-bill-No flex">
            <select class="search select-drop" id="mysel" [(ngModel)]="searchBy" (change)="billId = ''">
              <option value= "bill-num">Bill No</option>
              <option value= "name">Name</option>
            </select>
            <input id="bill" type= "{{(searchBy == 'bill-num') ? 'number' : 'text'}}" [(ngModel)]="billId">
          </div>
          <div class="content-btn flex">
            <button class="btn-search button" type="button" [disabled]="!billId" (click)="onSearchByBillid();billLoading = true;">Search
              <span [hidden]="(!billLoading)" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
            <button class="btn-reset button" type="button" (click)="resetSearch('bill')">Reset
            </button>
          </div>
        </div>
      </div>
      <div class="content-field">
        <p class="search-by">Search By Date</p>
        <div class="search-details flex">
          <div class="search-date-field flex">
            <div class="search-date">
              <label for="From">From</label>
              <p-calendar inputId="From" [(ngModel)]="fromDateValue"  [showIcon]="true" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
            </div>
            <div class="search-date serch-left">
              <label for="To">To</label>
              <p-calendar inputId="To" [(ngModel)]="toDateValue"  [minDate]="fromDateValue" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
            </div>
         </div>
          <div class="content-btn flex">
            <button class="btn-search button" type="button" [disabled]="((fromDateValue == '' || toDateValue == ''))" (click)="onSearch();dateLoading = true;billId = ''">Search
              <span [hidden]="(!dateLoading)" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
            <button class="btn-reset button" type="button" (click)="resetSearch()">Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <ng-container *ngIf="!searchInvoice">
      <div class="select-type flex" >
        <img src="assets/img/document.svg"/>
        <p class="msg-type">please search by date or Bill no</p>
      </div>
    </ng-container>
    <ng-container *ngIf="searchInvoice">
    <p-table [value]="invoiceList" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
     [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-customers">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">Bill No <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="father_name">Father Name <p-sortIcon field="father_name"></p-sortIcon></th>
                    <th pSortableColumn="class_no">Class<p-sortIcon field="class_no"></p-sortIcon></th>
                    <th pSortableColumn="total_amount">Total Amount (&#x20B9;)<p-sortIcon field="total_amount"></p-sortIcon></th>
                    <th style="width: 10rem; text-align: center;">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr class="p-selectable-row">
                    <td>
                        <span class="p-column-title">id</span>
                        {{customer.id}}
                    </td>
                    <td>
                        <span class="p-column-title">name</span>
                        <span class="image-text">{{customer.name}}</span>
                    </td>
                    <td>
                        <span class="p-column-title">father_name</span>
                        <span class="image-text">{{customer.father_name}}</span>
                    </td>
                    <td>
                        <span class="p-column-title">class</span>
                        {{customer?.class_no}}
                    </td>
                    <td>
                        <span class="p-column-title">total_amount</span>
                        {{customer.total_amount}}
                    </td>
                    <td style="width: 10rem">
                        <button pButton type="button" class="secondary" icon="pi pi-pencil" (click)="updateInvoice(customer.invoice_id)"></button>
                        <button pButton type="button" class="secondary" icon="pi pi-download" (click)="generatePdf('download', customer)"></button>
                        <button pButton type="button" class="secondary" icon="pi pi-print" (click)="generatePdf('print', customer)"></button>
                        <button pButton type="button" class="danger" icon="pi pi-trash" (click)="openConfirmationDialog(customer.invoice_id)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" style="text-align:center;">No Data found.</td>
                </tr>
            </ng-template>
        </p-table>
      </ng-container>
  </div>
</div>
