.content-wrapper {
  padding: 8px 19px;
  .content-heading {
    .content-details {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h5 {
        padding: 10px;
      }
    }
    .search-content {
      padding: 20px 10px;
      justify-content: space-between;
      .content-field  {
        width: 60%;
        // margin-top: 15px;
        .search-by {
          // padding: 12px 0;
          color: black;
          font-weight: 600;
        }
        .search-details {
          flex-direction: column;
          // justify-content: space-between;
          // width: calc(100% - 300px);
          .search-date-field {
          .search-date {
            padding: 28px 0;
            label {
              padding-right: 30px;
              width: 50px;
              color: gray;
            }
            // .custom-style{
            ::ng-deep .p-datepicker table td {
              padding: 0.4rem !important;
            }
            ::ng-deep .p-datepicker table td > span {
              width: 1.5rem !important;
              height: 1.5rem !important;
            }
            ::ng-deep .ui-calendar .ui-datepicker {
              height : 200px !important;
           }
           ::ng-deep  .p-button.p-button-icon-only {
                height: 40px;
           }
           ::ng-deep  .p-calendar .p-inputtext {
              height: 40px;
           }
            // }
            &.serch-left {
              margin-left: 30px
            }
          }
         }
          .content-btn {
            // justify-content: space-between;
            // padding-top: 30px;
            // padding-left: 50px;
            justify-content: center;
            .button {
              border: none;
              width: 100px;
              background-color: black;
              padding-left: 15px;
              color: white;
              text-align: center;
              padding: 8px;
              background-color: #6c757d;
              &.btn-search {
                background-color: #2563eb;
              }
              &.btn-reset {
                margin-left: 135px;
              }
              &:disabled {
                opacity: 0.6;
              }
           }
          }
        }
      }
      .search-Bill {
        width: 40%;
        .search-bill-type {
          .search-by {
            // padding: 12px 0;
            color: black;
            font-weight: 600;
            // width: 90px;
          }

        }
        .search-details {
          flex-direction: column;
          .search-bill-No {
            padding: 28px 0;
            label {
              padding-right: 30px;
              color: gray;
              width: 90px;
            }
            select {
              outline: 0;
              width: 100px;
              margin-right: 10px;
              height: 40px;
              line-height: 15px;
              background: #fff;
              border: solid 1px #dfdfdf;
              border-radius: 2px;
            }
            input {
              width: 250px;
              height: 40px;
              border: solid 1px #e8e8e8;
              padding: 0 13px;
              font-style: normal;
              &:disabled {
                background: #fff;
                opacity: 0.7;
              }
            }
          }
          .content-btn {
            // justify-content: space-between;
            // padding-top: 30px;
            button {
              border: none;
              width: 100px;
              background-color: black;
              padding-left: 15px;
              color: white;
              text-align: center;
              padding: 8px;
              background-color: #6c757d;
              &.btn-search {
                background-color: #2563eb;
              }
              &.btn-reset {
                margin-left: 135px;
              }
              &:disabled {
                opacity: 0.6;
              }
           }
          }
      }
      }
    }

  }
  .table-responsive {
    padding: 20px 0 ;
    .p-button.p-button-icon-only {
      width: 2rem;
      padding: 0.5rem 0;
    }
    ::ng-deep .p-datatable.p-datatable-customers {
      .p-datatable-header {
          padding: 1rem;
          text-align: left;
          font-size: 1.5rem;
      }

      .p-paginator {
          padding: 1rem;
          align-items: flex-end;
          justify-content: flex-end;
      }

      .p-datatable-thead > tr > th {
        padding: 12px 12px;
      }

      .p-datatable-tbody > tr > td {
        padding: 6px 0px 5px 15px !important;
      }
      .p-button.p-button-icon-only {
        width: 2rem;
        padding: 0.5rem 0;
      }
      .p-button:enabled:hover {
        background: none;
        color: black;
        border-color: black;
        outline: none !important;
    }
    .p-button {
      color: black;
      background: none;
      border: none;
      outline: none !important;
  }
      .p-dropdown-label:not(.p-placeholder) {
          text-transform: uppercase;
      }
  }
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
